<!-- extract:Stage Item category:Teaser System wrap:<div class="l-container l-container--large"><div class="l-column l-column--full">:</div></div> -->
<article class="stage-item">
    <figure class="stage-item__media">
        <img src="{{post.thumbnail.src('stage')}}" width="{{post.thumbnail.width}}" height="{{post.thumbnail.height}}" alt="{{post.thumbnail.alt}}"/>
    </figure>

    <div class="stage-item__main">
        <div class="stage-item__superheadline">{{ post.superheadline }}</div>
        <h1 class="stage-item__headline">{{ post.title }}</h1>
    </div>
</article>
<!-- endextract -->
